version: "3.9"

services:
  service-registry:
    build: ./service-registry
    container_name: service-registry
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/"]
      interval: 10s
      timeout: 5s
      retries: 5

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      service-registry:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      # optional if you want via env instead of properties file
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/

  identity-service:
    build: ./identity-service
    container_name: identity-service
    ports:
      - "8081:8081"
    depends_on:
      service-registry:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/pantryhub_identity_service
      - SPRING_DATASOURCE_USERNAME=sanjay
      - SPRING_DATASOURCE_PASSWORD=Sanjay@180
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
